
 <div class="wrapper">
        <table id="acrylic" onclick="window.location.href = './lending'">
            <thead>
                <tr>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Year</th>
                    <th>Vin</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>VW</td>
                    <td>Jetta</td>
                    <td>2019</td>
                    <td>3VWC57BU2KM069082</td>
                </tr>
                <tr>
                    <td>Ford</td>
                    <td>F-150</td>
                    <td>2019</td>
                    <td>9fdC57BU2KM069082</td>
                </tr>
                <tr>
                    <td>Tesla</td>
                    <td>Model S</td>
                    <td>2013</td>
                    <td>8TSC57BU2KM069082</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
