
 <div class="wrapper">
        <table id="acrylic">
            <thead>
                <tr>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Year</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>VW</td>
                    <td>Jetta</td>
                    <td>2019</td>
                    <td><a href="/lending?car=VW">Select</a></td>
                </tr>
                <tr>
                    <td>Ford</td>
                    <td>F-150</td>
                    <td>2019</td>
                    <td><a href="/lending?car=Ford">Select</a></td>
                </tr>
                <tr>
                    <td>Tesla</td>
                    <td>Model S</td>
                    <td>2013</td>
                    <td><a href="/lending?car=Tesla">Select</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
