<div class="login">
    <h1>KeyButtler</h1>
    <h2>Share your car with friends</h2>
    <a href="/login" class="btn btn-primary btn-block btn-large">Login</a><br>
    <a href="/register" class="btn btn-primary btn-block btn-large">Register</a>
</div>

