<div class="index">
    <h1>KeyButler</h1>
    <h2>Share your car with friends</h2>
    <img src="images/Auto.png" style="width:100%"><br><br>

    <a href="/login" class="btn btn-primary btn-block btn-large">Login</a><br>
    <a href="/register" class="btn btn-primary btn-block btn-large">Register</a>
</div>
