<div>
    <form method="post" action="/lend"/>
    <p>{{error}}</p>
    <p>Car: {{car.name}}</p>
	<p>
	  Address: 683 Sutter Street, San Francisco, CA
	</p>
	<div class="details-on-map show-map">
	  <div class="paper-map">
	    <div class="map-side"></div>
	    <div class="map-side"></div>
	    <div class="map-side"></div>
	    <div class="map-side"></div>
	  </div>
	  <div id="map"></div>
	</div>
        <input type="text" name="userId" placeholder="Enter username here..">
        <input type="hidden" name="car" value="{{car.name}}">
	<button class="button">
		<span>Share it!</span>
	</button>
	</form>
</div>
