<div>
	<input type="" name="" placeholder="Enter username here.." id="userNameForsharing">

	<p>
	  Address: 683 Sutter Street, San Francisco, CA
	</p>
	<div class="details-on-map show-map">
	  <div class="paper-map">
	    <div class="map-side"></div>
	    <div class="map-side"></div>
	    <div class="map-side"></div>
	    <div class="map-side"></div>
	  </div>
	  <div id="map"></div>
	</div>
	<button class="button" onclick="saveMessage('Tesla')">
		<span>Share it!</span>
	</button>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbG-3-9ajB7-W5-V7aDF05U33tfN9nXd0&callback=initMap" async defer></script>


<script src="https://www.gstatic.com/firebasejs/5.5.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.4.1/firebase-database.js"></script>

<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAJZZ3NZfdV8Ev1Ghx4IuV-XsUuQLWSVg4",
    authDomain: "smartcar-315fd.firebaseapp.com",
    databaseURL: "https://smartcar-315fd.firebaseio.com",
    projectId: "smartcar-315fd",
    storageBucket: "",
    messagingSenderId: "540965329796"
  };
  var defaultApp = firebase.initializeApp(config);

// Saves a new message on the Firebase DB.
function saveMessage(messageText) {
  // Add a new message entry to the Firebase Database.
  return firebase.database().ref('/messages/').push({
    name: getUserName(),
    text: "messageText",
    owner: document.cookie
    }).catch(function(error) {
    console.error('Error writing new message to Firebase Database', error);
  });
}

function getUserName(){
  	return document.getElementById('userNameForsharing').value
}

</script>

<script type="text/javascript">

	function initMap() {
  		var myLatLng = {lat: 37.7886679, lng: -122.4136927};

  		var map = new google.maps.Map(document.getElementById('map'), {
    		center: myLatLng,
    		scrollwheel: false,
    		zoom: 16
  		});

  		var marker = new google.maps.Marker({
    		map: map,
   			position: myLatLng
 	 	});
	}

</script>