<div class="login">
    <h1>Register</h1>
    <form method="post" action="/register">
        <p>{{result}}</p>
        <input type="text" name="u" placeholder="Username" required="required" />
        <input type="password" name="p" placeholder="Password" required="required" />
        <button name="type" value="owner" class="btn btn-primary btn-block btn-large">Register as car owner</button>
        <br>
        <br>
        <button name="type" value="lender" class="btn btn-primary btn-block btn-large">Register as lender</button>
    </form>
</div>

