@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 13px; line-height: 18px; color: #333333; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; }
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }
.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }
.btn-primary.active { color: rgba(255, 255, 255, 0.75); }
.btn-primary { background-color: #4a77d4; background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); background-image: linear-gradient(top, #6eb6de, #4a77d4); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #4a77d4; }
.btn-block { width: 100%; display:block; }

* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }

html { width: 100%; height:100%; overflow:hidden; }

body { 
    width: 100%;
    height:100%;
    font-family: 'Open Sans', sans-serif;
    background: #092756;
    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
    background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
    background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
}
.login { 
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -150px;
    width:300px;
    height:300px;
}
.login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }

input { 
    width: 100%; 
    margin-bottom: 10px; 
    background: rgba(0,0,0,0.3);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
}
input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }

table#acrylic {
            border-collapse: separate;
            background: #fff;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            margin: 50px auto;
            -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
            cursor: pointer;
        }
        
        #acrylic thead {
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
        }
        
        #acrylic thead th {
            font-family: 'Roboto';
            font-size: 16px;
            font-weight: 400;
            color: #fff;
            text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
            text-align: left;
            padding: 20px;
            background-size: 100%;
            background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #646f7f), color-stop(100%, #4a5564));
            background-image: -moz-linear-gradient(#646f7f, #4a5564);
            background-image: -webkit-linear-gradient(#646f7f, #4a5564);
            background-image: linear-gradient(#646f7f, #4a5564);
            border-top: 1px solid #858d99;
        }
        
        #acrylic thead th:first-child {
            -moz-border-top-right-radius: 5px;
            -webkit-border-top-left-radius: 5px;
            border-top-left-radius: 5px;
        }
        
        #acrylic thead th:last-child {
            -moz-border-top-right-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            border-top-right-radius: 5px;
        }
        
        #acrylic tbody tr td {
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            color: #5f6062;
            font-size: 13px;
            padding: 20px 20px 20px 20px;
            border-bottom: 1px solid #e0e0e0;
        }
        
        #acrylic tbody tr:nth-child(2n) {
            background: #f0f3f5;
        }
        
        #acrylic tbody tr:last-child td {
            border-bottom: none;
        }
        
        #acrylic tbody tr:last-child td:first-child {
            -moz-border-bottom-right-radius: 5px;
            -webkit-border-bottom-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        
        #acrylic tbody tr:last-child td:last-child {
            -moz-border-bottom-right-radius: 5px;
            -webkit-border-bottom-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        
        #acrylic tbody:hover > tr td {
            filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=50);
            opacity: 0.5;
        }
        
        #acrylic tbody:hover > tr:hover td {
            text-shadow: none;
            color: #2d2d2d;
            filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
            opacity: 1;
            transition: 0.2s all;
        }
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #345761;
  overflow: hidden;
}
p {
  margin-top: 3rem;
  color: #c6d7dc;
  text-align: center;
  font-family: monospace;
  font-size: 1.1rem;
}
.details-on-map {
  position: relative;
  width: 41rem;
  height: 0rem;
  margin: 2rem auto 0;
}
#map {
  position: absolute;
  top: 0;
  box-sizing: content-box;
  border: 0.5rem solid white;
  height: 20rem;
  width: 40rem;
  border-radius: 0.5rem;
  opacity: 0;
  visibility: hidden;
}

.paper-map {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-perspective: 150rem;
          perspective: 150rem;
  opacity: 0;
}
.map-side {
  box-sizing: content-box;
  width: 10rem;
  height: 20rem;
  border: 0.5rem solid white;
  background-image: url(https://s31.postimg.org/yxpm4cu4b/map.png);
  background-color: rgba(233, 229, 220, 1);
  outline: 1px solid transparent;
  overflow: hidden;
}
.map-side::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(233, 229, 220, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.1);
  content: "";
}
.map-side:nth-of-type(1) {
  border-right: none;
  border-radius: 0.5rem 0 0 0.5rem;
  background-position: 0 0;
  -webkit-transform: translateX(5.05rem) rotateY(-60deg);
          transform: translateX(5.05rem) rotateY(-60deg);
}
.map-side:nth-of-type(2) {
  border-right: none;
  border-left: none;
  background-position: -10rem 0;
  -webkit-transform: translateX(5rem) rotateY(60deg);
          transform: translateX(5rem) rotateY(60deg);
}
.map-side:nth-of-type(3) {
  border-right: none;
  border-left: none;
  background-position: -20rem 0;
  -webkit-transform: translateX(-5rem) rotateY(-60deg);
          transform: translateX(-5rem) rotateY(-60deg);
}
.map-side:nth-of-type(4) {
  border-left: none;
  border-radius: 0 0.5rem 0.5rem 0;
  background-position: -30rem 0;
  -webkit-transform: translateX(-5.05rem) rotateY(60deg);
          transform: translateX(-5.05rem) rotateY(60deg);
}
.show-map.details-on-map {
  height: 21rem;
}
.show-map #map {
  visibility: visible;
  -webkit-animation: fadeIn 0.5s 1.25s linear forwards;
          animation: fadeIn 0.5s 1.25s linear forwards;
}
.show-map .paper-map {
  -webkit-animation: 
      paperMapFadeIn 0.33s ease-in forwards,
      fadeOut 1s 3.5s linear forwards;
          animation: 
      paperMapFadeIn 0.33s ease-in forwards,
      fadeOut 1s 3.5s linear forwards;
}
.show-map .map-side::before {
  -webkit-animation: fadeOut 0.5s 0.33s forwards ease-out;
          animation: fadeOut 0.5s 0.33s forwards ease-out;
}
.show-map .map-side:nth-of-type(1) {
  -webkit-animation: openMapOuter 0.33s 0.33s linear forwards;
          animation: openMapOuter 0.33s 0.33s linear forwards;
}
.show-map .map-side:nth-of-type(2) {
  -webkit-animation: openMapInnerLeft 0.33s 0.33s linear forwards;
          animation: openMapInnerLeft 0.33s 0.33s linear forwards;
}
.show-map .map-side:nth-of-type(3) {
  -webkit-animation: openMapInnerRight 0.33s 0.33s linear forwards;
          animation: openMapInnerRight 0.33s 0.33s linear forwards;
}
.show-map .map-side:nth-of-type(4) {
  -webkit-animation: openMapOuter 0.33s 0.33s linear forwards;
          animation: openMapOuter 0.33s 0.33s linear forwards;
}
.map-side:nth-of-type(1), .map-side:nth-of-type(3){
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
  box-shadow: inset 0 0 2rem rgba(0, 0, 0, 0.3);
}
.map-side:nth-of-type(2), .map-side:nth-of-type(4) {
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  box-shadow: inset 0 0 2rem rgba(0, 0, 0, 0.3);
}

@-webkit-keyframes openMapOuter {
  100% {
    -webkit-transform: translateX(0) rotateY(0deg);
            transform: translateX(0) rotateY(0deg);
    box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.1);
  }
}

@keyframes openMapOuter {
  100% {
    -webkit-transform: translateX(0) rotateY(0deg);
            transform: translateX(0) rotateY(0deg);
    box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.1);
  }
}
@-webkit-keyframes openMapInnerLeft {
  0% {-webkit-transform: translateX(5rem) rotateY(60deg);transform: translateX(5rem) rotateY(60deg);}
  20% {-webkit-transform: translateX(4rem) rotateY(53deg);transform: translateX(4rem) rotateY(53deg);}
  38% {-webkit-transform: translateX(3.1rem) rotateY(46.2deg);transform: translateX(3.1rem) rotateY(46.2deg);}
  50% {-webkit-transform: translateX(2.5rem) rotateY(41.5deg);transform: translateX(2.5rem) rotateY(41.5deg);}
  65% {-webkit-transform: translateX(1.75rem) rotateY(34.5deg);transform: translateX(1.75rem) rotateY(34.5deg);}
  75% {-webkit-transform: translateX(1.25rem) rotateY(29deg);transform: translateX(1.25rem) rotateY(29deg);}
  83% {-webkit-transform: translateX(0.85rem) rotateY(23.8deg);transform: translateX(0.85rem) rotateY(23.8deg);}
  90% {-webkit-transform: translateX(0.5rem) rotateY(18.1deg);transform: translateX(0.5rem) rotateY(18.1deg);}
  95% {-webkit-transform: translateX(0.25rem) rotateY(12.8deg);transform: translateX(0.25rem) rotateY(12.8deg);}
  98% {-webkit-transform: translateX(0.1rem) rotateY(8deg);transform: translateX(0.1rem) rotateY(8deg);}
  99% {-webkit-transform: translateX(0.05rem) rotateY(5deg);transform: translateX(0.05rem) rotateY(5deg);}
  100% {-webkit-transform: translateX(0) rotateY(0);transform: translateX(0) rotateY(0); box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.1);}
}
@keyframes openMapInnerLeft {
  0% {-webkit-transform: translateX(5rem) rotateY(60deg);transform: translateX(5rem) rotateY(60deg);}
  20% {-webkit-transform: translateX(4rem) rotateY(53deg);transform: translateX(4rem) rotateY(53deg);}
  38% {-webkit-transform: translateX(3.1rem) rotateY(46.2deg);transform: translateX(3.1rem) rotateY(46.2deg);}
  50% {-webkit-transform: translateX(2.5rem) rotateY(41.5deg);transform: translateX(2.5rem) rotateY(41.5deg);}
  65% {-webkit-transform: translateX(1.75rem) rotateY(34.5deg);transform: translateX(1.75rem) rotateY(34.5deg);}
  75% {-webkit-transform: translateX(1.25rem) rotateY(29deg);transform: translateX(1.25rem) rotateY(29deg);}
  83% {-webkit-transform: translateX(0.85rem) rotateY(23.8deg);transform: translateX(0.85rem) rotateY(23.8deg);}
  90% {-webkit-transform: translateX(0.5rem) rotateY(18.1deg);transform: translateX(0.5rem) rotateY(18.1deg);}
  95% {-webkit-transform: translateX(0.25rem) rotateY(12.8deg);transform: translateX(0.25rem) rotateY(12.8deg);}
  98% {-webkit-transform: translateX(0.1rem) rotateY(8deg);transform: translateX(0.1rem) rotateY(8deg);}
  99% {-webkit-transform: translateX(0.05rem) rotateY(5deg);transform: translateX(0.05rem) rotateY(5deg);}
  100% {-webkit-transform: translateX(0) rotateY(0);transform: translateX(0) rotateY(0); box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.1);}
}
@-webkit-keyframes openMapInnerRight {
  0% {-webkit-transform: translateX(-5rem) rotateY(-60deg);transform: translateX(-5rem) rotateY(-60deg);}
  20% {-webkit-transform: translateX(-4rem) rotateY(-53deg);transform: translateX(-4rem) rotateY(-53deg);}
  38% {-webkit-transform: translateX(-3.1rem) rotateY(-46.2deg);transform: translateX(-3.1rem) rotateY(-46.2deg);}
  50% {-webkit-transform: translateX(-2.5rem) rotateY(-41.5deg);transform: translateX(-2.5rem) rotateY(-41.5deg);}
  65% {-webkit-transform: translateX(-1.75rem) rotateY(-34.5deg);transform: translateX(-1.75rem) rotateY(-34.5deg);}
  75% {-webkit-transform: translateX(-1.25rem) rotateY(-29deg);transform: translateX(-1.25rem) rotateY(-29deg);}
  83% {-webkit-transform: translateX(-0.85rem) rotateY(-23.8deg);transform: translateX(-0.85rem) rotateY(-23.8deg);}
  90% {-webkit-transform: translateX(-0.5rem) rotateY(-18.1deg);transform: translateX(-0.5rem) rotateY(-18.1deg);}
  95% {-webkit-transform: translateX(-0.25rem) rotateY(-12.8deg);transform: translateX(-0.25rem) rotateY(-12.8deg);}
  98% {-webkit-transform: translateX(-0.1rem) rotateY(-8deg);transform: translateX(-0.1rem) rotateY(-8deg);}
  99% {-webkit-transform: translateX(-0.05rem) rotateY(-5deg);transform: translateX(-0.05rem) rotateY(-5deg);}
  100% {-webkit-transform: translateX(0) rotateY(0);transform: translateX(0) rotateY(0); box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.1);}
 }
@keyframes openMapInnerRight {
  0% {-webkit-transform: translateX(-5rem) rotateY(-60deg);transform: translateX(-5rem) rotateY(-60deg);}
  20% {-webkit-transform: translateX(-4rem) rotateY(-53deg);transform: translateX(-4rem) rotateY(-53deg);}
  38% {-webkit-transform: translateX(-3.1rem) rotateY(-46.2deg);transform: translateX(-3.1rem) rotateY(-46.2deg);}
  50% {-webkit-transform: translateX(-2.5rem) rotateY(-41.5deg);transform: translateX(-2.5rem) rotateY(-41.5deg);}
  65% {-webkit-transform: translateX(-1.75rem) rotateY(-34.5deg);transform: translateX(-1.75rem) rotateY(-34.5deg);}
  75% {-webkit-transform: translateX(-1.25rem) rotateY(-29deg);transform: translateX(-1.25rem) rotateY(-29deg);}
  83% {-webkit-transform: translateX(-0.85rem) rotateY(-23.8deg);transform: translateX(-0.85rem) rotateY(-23.8deg);}
  90% {-webkit-transform: translateX(-0.5rem) rotateY(-18.1deg);transform: translateX(-0.5rem) rotateY(-18.1deg);}
  95% {-webkit-transform: translateX(-0.25rem) rotateY(-12.8deg);transform: translateX(-0.25rem) rotateY(-12.8deg);}
  98% {-webkit-transform: translateX(-0.1rem) rotateY(-8deg);transform: translateX(-0.1rem) rotateY(-8deg);}
  99% {-webkit-transform: translateX(-0.05rem) rotateY(-5deg);transform: translateX(-0.05rem) rotateY(-5deg);}
  100% {-webkit-transform: translateX(0) rotateY(0);transform: translateX(0) rotateY(0); box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.1);}
 }
@-webkit-keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}
@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}
@-webkit-keyframes fadeIn {
  to {opacity: 1;}
}
@keyframes fadeIn {
  to {opacity: 1;}
}
@-webkit-keyframes paperMapFadeIn {
  0% {-webkit-transform: scale(0, 0.5);transform: scale(0, 0.5); opacity: 0;}
  100% {-webkit-transform: scale(1);transform: scale(1); opacity: 1;}
}
@keyframes paperMapFadeIn {
  0% {-webkit-transform: scale(0, 0.5);transform: scale(0, 0.5); opacity: 0;}
  100% {-webkit-transform: scale(1);transform: scale(1); opacity: 1;}
}

.button {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #3cba54;
  padding: 1em 2em;
  border: none;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 100px;
  left: 46%;
  top: 20px;
}
.button span {
  position: relative;
  pointer-events: none;
}
.button::before {
  --size: 0;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, #4405f7, transparent);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: width .2s ease, height .2s ease;
}
.button:hover::before {
  --size: 400px;
}
